
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    max-width: 1200vh;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #555;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.view-closet {
    background-color: #111;
    color: white;
}

.explore-more {
    background-color: #eee;
    color: #111;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 1rem 2rem;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #f5a623;
}

.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 16px;
    box-shadow: 0 0 20px black;
    width: 100%;
    max-width: 500px;
}

.login-form h1 {
    margin-bottom: 1.5rem;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.login-form button {
    width: 100%;
    padding: 12px 16px;
    background-color: #222;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.login-form button:hover {
    background-color: #444;
  }
  
  .error {
    color: #d33;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }